/* .root::-webkit-scrollbar {
  display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

/* html {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-color: rgba(53, 23, 53, 1);
}

.root {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
  scrollbar-color: rgba(255, 255, 255, 0);
}
.sort_typesGroup::-webkit-scrollbar {
  display: none;
} */

/* Hide scrollbar for IE, Edge and Firefox */
.sort_typesGroup {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.bars_container {
  position: relative;
  background-color: bisque;
  display: block;
  width: 100%;
  right: 0;
  height: 100%;
  min-height: 750px;
  overflow: hidden hidden;
  /* border: 12px solid rgba(53, 23, 53, 1); */
  /* border-bottom: 700px solid rgba(53, 23, 53, 1); */
  bottom: 0px;
  padding: 0px;
}

.bar {
  background-color: rgba(3, 2, 2, 0.747);
  color: rgba(27, 3, 3, 0);
  /* border-radius: 20px; */
  /* height: 5px; */
  width: 10px; /*5px 15 px */
  height: 5px;
  margin: 0px;
  padding: 0;
  border-top: 1px solid bisque;
  border-left: 1px solid bisque;
}

.sorted_bar {
  background-color: rgba(143, 9, 92, 0.877);
}

.current_bar {
  background-color: rgb(255, 0, 0);
}

.sort_type {
  margin-right: 15px;
  color: rgba(255, 255, 255, 0.979);
  border: 2px solid rgba(252, 11, 11, 0.219);
  padding: 2px 8px;
  margin-bottom: 5px;
  border-radius: 3px;
  font-family: sans-serif;
  font-size: medium;
}

.sort_type:hover {
  border-color: rgba(255, 255, 255, 0.705);
  cursor: pointer;
}

.sort_button_pressed {
  border-color: rgb(255, 0, 0);
}

.driver_btn {
  all: unset;
  color: blueviolet;
  border: 2px solid rgba(227, 76, 241, 0.336);
  border-radius: 4px;
  margin-left: 10px;
  padding: 1px 15px;
  margin-bottom: 10px;
}

.driver_btn:hover {
  border: 2px solid rgba(227, 76, 241, 1);
}

.sort_typesGroup {
  overflow-x: inherit;
  padding: 0px;
  padding-top: 5px;

  margin-bottom: 10px;
  padding-left: 20px;
  /* padding-right: 20px; */
  background-color: rgba(255, 255, 255, 0.154);
}

.speed_slider {
  color: green;
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 1000px) {
  .speed_slider {
    display: hidden;
  }

  .bars_container {
    min-height: "300px";
  }
}

.algo_option {
  all: unset;
  color: blueviolet;
  border: 2px solid rgba(227, 76, 241, 0.336);
  border-radius: 4px;
  margin-left: 10px;
  padding: 1px 15px;
  margin-bottom: 10px;
}

.algo_option:hover {
  border: 2px solid rgba(227, 76, 241, 1);
}

@media only screen and (max-width: 1000px) {
  .algo_option_container {
    position: absolute;
    z-index: 1;
    display: none;
    bottom: 0px;
    padding-top: 10px;
    /* background-color: blueviolet; */
  }
}

@media only screen and (min-width: 1000px) {
  .algo_option_container {
    position: absolute;
    display: inline-block;
  }
}
